.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding);
}

.contacts__body {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid var(--mainBorderColor);
  border-right: 1px solid var(--mainBorderColor);
}

.contacts__content {
  width: fit-content;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contacts__header {
  width: fit-content;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contacts__breadcrumbs {
  padding: 0px 20px;
}

.contacts__footer {
  width: fit-content;
  padding: 0px 20px;
  display: flex;
  gap: 40px;
  align-items: start;
  flex-direction: column;
}

.contacts__title {
  color: #1B315F;
  font-size: clamp(1.125rem, 5vw, 2rem);
}

.contacts__data {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.contacts__data-title {
  color: #1B315F;
  font: normal bold clamp(1.125rem, 5vw, 1.375rem) "Montserrat-Bold";
}

.contacts__data-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.contacts__data-phone {
  color: #1B315F;
  display: inline-block;
  font-size: clamp(1.125rem, 5vw, 1.375rem);
}

@media (hover:hover) {
  .contacts__data-phone:hover {
    text-decoration: underline;
  }
}

.contacts__data-phone:active {
  scale: var(--scale);
}

.contacts__data-link {
  color: #2770F1;
  font-size: clamp(1.125rem, 5vw, 1.375rem);
}

@media (hover:hover) {
  .contacts__data-link:hover {
    text-decoration: underline;
  }
}

.contacts__data-link:active {
  scale: var(--scale);
}

.contacts__rating {
  min-height: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__rating-decor {
  width: 2px;
  height: 100px;
  display: inline-block;
  background-color:  #D7E2FF;
}

.contacts__map {
  display: flex;
  width: 100%;
  max-width: 800px;
  min-height: 600px;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts__map::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 893px;
  top: 91px;
  left: 0;
  background: #B6D1FF;
  z-index: -1;
}

.contacts__map::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 360px;
  bottom: -120px;
  left: -200px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.2' viewBox='0 0 320 360' width='320' height='360'%3E%3Cpath d='m150 0v1h-150v-1z' fill='%23b6d1ff'/%3E%3Cpath d='m200 360l-120-120v-240h120z' fill='%23152f60'/%3E%3Cpath d='m320 360v-120h-120v120z' fill='%23b6d1ff'/%3E%3C/svg%3E") center / cover no-repeat;
}

.contacts__map-iframe {
  width: 100%;
  height: 100%;
  margin: 70px 0px 0px 0px;
  aspect-ratio: 1025 / 590;
  border-radius: 112px 0px 0px 0px;
}

@media (max-width: 1350px) {
  .contacts {
    padding: unset;
  }

  .contacts__body {
    padding: 30px 0px 0px 0px;
    border: unset;
    flex-direction: column;
  }

  .contacts__content {
    width: 100%;
    padding: var(--padding);
  }

  .contacts__breadcrumbs {
    padding: unset;
  }

  .contacts__footer {
    width: 100%;
    padding: unset;
  }

  .contacts__button {
    width: 100%;
  }

  .contacts__map {
    max-width: unset;
    min-height: 250px;
  }

  .contacts__map::before {
    display: none;
  }

  .contacts__map::after {
    display: none;
  }

  .contacts__map-iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: none;
    border-radius: 0%;
    margin: 30px 0px 0px 0px;
  }
}