section.about
  .about__body.container
    figure.about__user
      img.about__user-image(src="src/imgs/about/Zakharov-Terentiy-Alexandrovich.webp", alt="")
      figcaption.about__user-info
        | Захаров Терентий
        span.about__user-info-mark Александрович
    .about__content
      h2.about__title.title.medium Наркологическая клиника в Москве: 
        span.title__mark опытные врачи, хорошие условия и гарантия анонимности
      .about__text
        span
          | Алкогольная и наркотическая зависимость – одна из
          | основных возможных причин смерти во всех
          | странах. Чтобы освободиться от проблемы, больной
          | должен получить профессиональную помощь. Наркологическая клиника
          | «Запоям – нет» в Москве работает с
          | пациентами, независимо от степени тяжести их
          | состояния, и разрабатывает индивидуальное эффективное лечение,
          | которое гарантированно избавит от аддиктивного состояния.
        h3.about__content-title Выбор клиники
        .about__text-block
          span
            | Зависимость – это психическое заболевание, при котором
            | у человека происходит расстройство воли, мешающее
            | справиться с компульсивной тягой к этанолу.
            | Справиться с ним самостоятельно, не обращаясь
            | к наркологу, можно только на первой
            | стадии алкоголизма. Но при развитии абстиненции,
            | когда психологическая тяга осложняется физической, требуется
            | обратиться в центр помощи зависимым.
          span
            | Квалифицированные врачи принимают пациентов в крупных
            | и маленьких городах в государственных и
            | платных наркологических клиниках. Если учреждение имеет
            | лицензию, оно обязано опираться при лечебном
            | процессе на клинические рекомендации Минздрава, в
            | которые входит описание всех доказавших действенность
            | и безопасность методов.
        .about__list-container
          h5.about__list-container-title Но в коммерческих центрах терапия проходит:
          ul.about__list
            li.about__list-item Анонимно
            li.about__list-item C обеспечением высокого уровня комфорта
            li.about__list-item C применением современных методик и хороших препаратов
        span
          | Кроме приемного отделения и стационара, в
          | частных наркологических клиниках есть реабилитационный центр
          | и служба выезда специалистов на дом.
          | Помощь оказывается круглосуточно, при этом пациент
          | может связаться с медиком в любое
          | время суток для получения дополнительной информации
          | о лечении.