section.steps
  .steps__body.container
    h2.steps__title.title.medium.decor.white Этапы оказания 
      span.title__mark помощи
    .steps__content
      ul.steps__list
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка
        li
          .steps__card
            span.steps__card-counter
            span.steps__card-desc Поступление в клинику вашей заявки или звонка