section.cta
  .cta__body.container
    header.cta__header
      h1.cta__title.title.decor.white Вывод из запоя в Москве
        span.title__mark с гарантией анонимности
    footer.cta__footer
      a.cta__button.button.blue(href="contacts.html") Срочный вызов
      button.cta__button.button.white(type="button", data-feedback-button) Оставить заявку