.button {
  padding: 16px;
  min-height: 55px;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font: normal 600 1.125rem "Montserrat-SemiBold";
}

.button.blue {
  color: white;
  background-color: #2770F1;
}

@media (hover:hover) {
  .button.blue:hover {
    background-color: #0E306D;
  }
}

.button.white {
  color: #2770F1;
  background-color: #F1F5FF;
}

@media (hover:hover) {
  .button.white:hover {
    background-color: #c1c2c6;
  }
}

.button:active {
  scale: var(--scale);
}