@use "../../scss/vars.scss" as *;

.title {
  color: $primaryColor;
  font: normal 800 clamp(1.75rem, 5vw, 3.5rem) / 115% "Montserrat-ExtraBold";

  &.decor {
    padding-inline-start: 20px;
    border-left: 5px solid $linkColor;
  }

  &.medium {
    font-size: clamp(1.625rem, 5vw, 2.75rem);
  }

  &.white {
    color: white;
  }

  &__mark {
    font-weight: 400;
    font-family: "Montserrat-Regular";
  }
}