section.reports
  .reports__body.container
    h2.reports__title.title.medium.decor За нас говорят наши клиенты
    .reports__slider
      .reports__slider-container
        ul.reports__slider-wrapper.swiper-wrapper
          li.swiper-slide
            .reports__card
              header.reports__card-header
                h3.reports__card-title Кузнецова Дина Геннадиевна
                time.reports__card-time(datetime="2024-08-11") 2024-08-11
              footer.reports__card-footer
                span.reports__card-text
                  | Алкогольная и наркотическая зависимость – одна из основных возможных причин смерти во всех странах. Чтобы освободиться от проблемы, больной должен получить профессиональную помощь. Наркологическая клиника «Запоям – нет» в Москве работает с пациентами, независимо от степени тяжести их состояния, и разрабатывает индивидуальное эффективное лечение, которое гарантированно избавит от аддиктивного состояния.
          li.swiper-slide
            .reports__card
              header.reports__card-header
                h3.reports__card-title Иванов Сергей Петрович
                time.reports__card-time(datetime="2024-08-10") 2024-08-10
              footer.reports__card-footer
                span.reports__card-text
                  | Я получил отличную помощь в клинике. Персонал очень внимательный и заботливый.
          li.swiper-slide
            .reports__card
              header.reports__card-header
                h3.reports__card-title Петрова Анна Владимировна
                time.reports__card-time(datetime="2024-08-09") 2024-08-09
              footer.reports__card-footer
                span.reports__card-text
                  | Процесс лечения был комфортным, и я чувствую себя намного лучше.
          li.swiper-slide
            .reports__card
              header.reports__card-header
                h3.reports__card-title Сидоров Алексей Николаевич
                time.reports__card-time(datetime="2024-08-08") 2024-08-08
              footer.reports__card-footer
                span.reports__card-text
                  | Клиника предоставила мне все необходимые условия для восстановления.
          li.swiper-slide
            .reports__card
              header.reports__card-header
                h3.reports__card-title Кузнецова Дина Геннадиевна
                time.reports__card-time(datetime="2024-08-07") 2024-08-07
              footer.reports__card-footer
                span.reports__card-text
                  | Я очень благодарна врачам за их профессионализм и поддержку.
      menu.reports__slider-menu
        li.reports__slider-menu-item
          button.reports__slider-button.prev(type="button")
            span Назад
        li.reports__slider-menu-item  
          button.reports__slider-button.next(type="button")
            span Далее