doctype html
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Клиника плюс - контакты
  body(data-simplebar)
    .wrapper
      .wrapper__body
        include ../components/header/header.pug
        - var basePath = "."
        +header(basePath)
        main.main
          include ../blocks/contacts/contacts.pug
      include ../components/footer/footer.pug
      - var basePath = "."
      +footer(basePath)
    script(src="https://kit.fontawesome.com/214ec3578d.js", crossorigin="anonymous")
    script(type="module", src="../src/main.js")