section.user
  .user__body.container
    header.user__header
      .user__breadcrumbs.breadcrumbs
        .breadcrumbs__body
          nav.breadcrumbs__nav
            ul.breadcrumbs__list
              li.breadcrumbs__list-item
                a.breadcrumbs__link(href="../index.html") Главная
              li.breadcrumbs__list-item
                a.breadcrumbs__link(href="#!") Кручинин Дмитрий Кириллович
      h1.title.decor
        | Кручинин Дмитрий 
        span.title__mark Кириллович
    footer.user__footer
      .user__info
        .user__info-image
        .user__info-content
          .user__info-header
            h2.user__info-title О враче
          .user__info-main
            .user__info-data
              h6.user__info-data-title Специализация
              span.user__info-data-desc Ортопед-травмотолог, детский хирург
            .user__info-data
              h6.user__info-data-title Специализация
              span.user__info-data-desc Ортопед-травмотолог, детский хирург
            .user__info-data
              h6.user__info-data-title Специализация
              span.user__info-data-desc Ортопед-травмотолог, детский хирург
            .user__info-data
              h6.user__info-data-title Специализация
              span.user__info-data-desc Ортопед-травмотолог, детский хирург
          .user__info-footer
            a.user__info-button.button.blue(href="contacts.html") Записаться на прием
            .user__info-desc
              h5.user__info-desc-title Кручинин Дмитрий Кириллович
              span
                | Врач - детский хирург, врач-ортопед-травматолог,
                | диплом выдан Ростовским Государственным медицинским
                | институтом  в 1995г., специальность - педиатрия, квалификация
                | - врач-педиатр, сертификат специалиста выдан ФГБОУ
                | ВО РостГМУ Минздрава России 27.11.2017г., специальность - детская
                | хирургия, сертификат специалиста выдан ГБОУ ВПО
                | РостГМУ Минздрава России 17.06.2016г. специальность - травматология 
                | и ортопедия.
            .user__licenses
              ul.user__licenses-list(data-simplebar)
                li
                  .user__licenses-card
                li
                  .user__licenses-card
                li
                  .user__licenses-card