@use "../../scss/vars.scss" as *;

.prices {
  width: 100%;
  display: flex;
  padding: 65px 30px;
  flex-direction: column;

  &__body {
    width: 100%;
    display: flex;
    gap: 70px;
    flex-direction: column;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
  }

  &__list {
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__list-item {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__list-link {
    width: 100%;
    color: $linkColor;
    padding: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    font: normal 500 clamp(1rem, 5vw, 1.375rem) "Montserrat-Medium";

    @media (hover: hover) {
      &:hover {
        background-color: white;
        box-shadow: 0px 4px 24px 0px rgba(27, 49, 95, 0.15);
      }
    }

    &:active {
      scale: $scale;
    }
  }

  &__list-link-decor {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      display: inline-block;
      margin-inline-start: 10px;
      background-color: $borderColor;
    }
  }

  &__list-price {
    color: $primaryColor;
    white-space: nowrap;
    min-width: fit-content;
  }

  @media (max-width: 1080px) {
    padding: 0 $padding;

    &__body {
      gap: 16px;
      padding: 25px 0;
    }

    &__list {
      padding: unset;
    }

    &__list-link {
      align-items: start;
      flex-direction: column;
    }

    &__list-link-decor {
      white-space: wrap;

      &::after {
        display: none;
      }
    }
  }
}