section.prices
  .prices__body.container
    h2.title.medium.decor Цены на лечение
    ul.prices__list
      li.prices__list-item
        a.prices__list-link(href="pages/services.html")
          span.prices__list-link-decor Все услуги
          span.prices__list-price от 
            strong 30 000 ₽
      li.prices__list-item
        a.prices__list-link(href="pages/services.html")
          span.prices__list-link-decor Госпитализация
          span.prices__list-price от 
            strong 30 000 ₽
      li.prices__list-item
        a.prices__list-link(href="pages/services.html")
          span.prices__list-link-decor Нарколог
          span.prices__list-price от 
            strong 30 000 ₽