.doctors {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #162D5F;
  padding: 60px var(--padding);
}

.doctors__body {
  width: 100%;
  display: flex;
  gap: 70px;
  flex-direction: column;
  justify-content: center;
}

.doctors__title {
  max-width: 600px;
}

.doctors__list {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.doctors__card {
  position: relative;
  min-width: 355px;
  min-height: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.doctors__card:has(.doctors__card-link):active {
  scale: var(--scale);
}

.doctors__card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.doctors__card-image {
  width: 100%;
  height: 380px;
  background-color: antiquewhite;
}

.doctors__card-footer {
  width: 100%;
  min-height: 115px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.doctors__card-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.doctros__card-title {
  max-width: 230px;
  font: normal 800 clamp(1.125rem, 5vw, 1.375rem) "Montserrat-ExtraBold";
}

.doctros__card-title-mark {
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.doctros__card-desc {
  max-width: 330px;
  line-height: 150%;
}

.doctors__card-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

@media (hover:hover) {
  .doctors__card-link:hover {
    opacity: 1;
    background-color: rgb(0 0 0 / 50%);
  }
}

@media (max-width: 1080px) {
  .doctors {
    padding: 30px 15px;
  }

  .doctors__body {
    gap: 30px;
  }

  .doctors__list {
    gap: 16px;
  }

  .doctors__card {
    min-height: 355px;
  }

  .doctors__card-image {
    height: 225px;
  }
}

@media (max-width: 380px) {
  .doctors__card {
    min-width: unset;
  }
}