@import url("modern-normalize.css");

/* components */ 

@import url("../../components/header/header.css");
@import url("../../components/button/button.css");
@import url("../../components/footer/footer.css");

/* components */ 

/* blocks */ 


/* blocks */ 

/* libraries */ 


/* libraries */ 

/* fonts */ 

@import url("fonts.css");

/* fonts */ 

:root {
  --padding: 15px;
  --scale: 0.9;
  --opacity: 0.5;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #3F578B;
  scroll-behavior: smooth;
  font-family: "Montserrat-Regular", sans-serif;
}

html.--lock {
  overflow: clip;
}

.container {
  width: 100%;
  margin: 0px auto;
  max-width: 1600px;
}

.fullscreen {
  min-height: 100dvh;
}

.wrapper {
  width: 100%;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  border-left: 1px solid #D7E2FF;
  border-right: 1px solid #D7E2FF;
}

.main {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}