@import url("modern-normalize.css");

/* components */ 

@import url("../../components/header/header.css");
@import url("../../components/dropdown/dropdown.css");
@import url("../../components/button/button.css");
@import url("../../components/breadcrumbs/breadcrumbs.css");
@import url("../../components/title/title.css");
@import url("../../components/footer/footer.css");

/* components */ 

/* blocks */ 

@import url("../../blocks/cta/cta.css");
@import url("../../blocks/prices/prices.css");
@import url("../../blocks/steps/steps.css");
@import url("../../blocks/licenses/licenses.css");
@import url("../../blocks/about/about.css");
@import url("../../blocks/doctors/doctors.css");

/* blocks */ 

/* libraries */ 

@import url("../libraries/simplebar/simplebar.css");

/* libraries */ 

/* fonts */ 

@import url("fonts.css");

/* fonts */ 

:root {
  --padding: 15px;
  --scale: 0.9;
  --opacity: 0.5;
  --mainBorderColor: #D7E2FF;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #3F578B;
  scroll-behavior: smooth;
  font-family: "Montserrat-Regular", sans-serif;
}

html.--lock {
  overflow: clip;
}

.container {
  width: 100%;
  margin: 0px auto;
  max-width: 1600px;
}

.fullscreen {
  min-height: 100dvh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__body {
  width: 100%;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

.main {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}