footer.footer
  .footer__body.container
    .footer__column
      a.footer__logo(href="index.html")
        span.footer__logo-icon
        span Клиника плюс
      a.footer__phone(href="tel:88001234567") 8 (800) 123-45-67
      address.footer__address
        .footer__address-column
          h6.footer__address-title
            i.footer__address-icon.fa-solid.fa-location-dot
            span Адрес
          span.footer__address-text г. Богучар, ул. Мжд Киевское 17-й км
        .footer__address-column
          h6.footer__address-title
            i.footer__address-icon.fa-solid.fa-envelope
            span Email
          a.footer__address-link(href="mailto:example@example.ru") example@example.ru
      .footer__socials
        nav.footer__socials-nav
          ul.footer__socials-list
            li
              a.footer__socials-link(href="#!", aria-label="Вконтакте", data-tippy-content="Вконтакте")
                i.fa-brands.fa-vk
            li
              a.footer__socials-link(href="#!", aria-label="facebook", data-tippy-content="facebook")
                i.fa-brands.fa-facebook-f
            li
              a.footer__socials-link(href="#!", aria-label="WhatsApp", data-tippy-content="WhatsApp")
                i.fa-brands.fa-whatsapp
            li
              a.footer__socials-link(href="#!", aria-label="telegram", data-tippy-content="telegram")
                i.fa-brands.fa-telegram
    .footer__row
      .footer__map
        iframe.footer__map-iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac0caad2d5e1c8bf8d6076d6029314be669d2d84d199757968d4b7c1a8bd0a342&amp;source=constructor", frameborder="0")
      .footer__links
        h5.footer__links-title Полезные ссылки
        .footer__dropdowns
          a.footer__link(href="#!") Цены
          a.footer__link(href="pages/contacts.html") Контакты