section.licenses
  .licenses__body.container
    h2.licenses__title.title.decor.medium Наши лицензии 
      span.title__mark и сертификаты
    ul.licenses__list
      li
        .licenses__card
          img.licenses__card-image(src="src/imgs/licenses/01.webp", alt="")
      li
        .licenses__card
          img.licenses__card-image(src="src/imgs/licenses/02.webp", alt="")
      li
        .licenses__card
          img.licenses__card-image(src="src/imgs/licenses/03.webp", alt="")
      li
        .licenses__card
          img.licenses__card-image(src="src/imgs/licenses/04.webp", alt="")