.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px var(--padding);
}

.about__body {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  border-left: 1px solid var(--mainBorderColor);
  border-right: 1px solid var(--mainBorderColor);
}

.about__user {
  height: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.about__user-image {
  object-fit: cover;
  border-radius: 50%;
}

.about__user-info {
  color: #1B315F;
  text-align: center;
  font: normal 800 clamp(1.125rem, 5vw, 1.375rem)/145% "Montserrat-ExtraBold";
}

.about__user-info-mark {
  font-weight: 400;
  font-family: "Montserrat-Regular";
}

.about__content {
  width: 100%;
  max-width: 1230px;
  padding: 0px 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.about__title {
  max-width: 1230px;
}

.about__text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  line-height: 150%;
}

.about__content-title {
  color: #1B315F;
  font: normal 800 clamp(1.375rem, 5vw, 2rem) "Montserrat-ExtraBold";
}

.about__text-block {
  display: flex;
  flex-direction: column;
}

.about__list-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.about__list-container-title {
  color: #1B315F;
  font: normal 600 1rem "Montserrat-SemiBold";
}

.about__list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.about__list-item {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.about__list-item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #1EBB92;
}

@media (max-width: 1080px) {
  .about__body {
    flex-direction: column;
  }

  .about__user {
    padding: 0px 30px;
  }

  .about__user-image {
    border-radius: 50% 50% 50% 0%;
  }
}