// base styles
@use "./vars.scss" as *;
@use "./fonts.scss" as *;
@use "./modern-normalize.scss" as *;

// components
@use "../components/header/header.scss" as *;
@use "../components/button/button.scss" as *;
@use "../components/breadcrumbs/breadcrumbs.scss" as *;
@use "../components/title/title.scss" as *;
@use "../components/footer/footer.scss" as *;

// blocks
@use "../blocks/cta/cta.scss" as *;
@use "../blocks/prices/prices.scss" as *;
@use "../blocks/steps/steps.scss" as *;
@use "../blocks/licenses/licenses.scss" as *;
@use "../blocks/about/about.scss" as *;
@use "../blocks/doctors/doctors.scss" as *;
@use "../blocks/reports/reports.scss" as *;
@use "../blocks/contacts/contacts.scss" as *;
@use "../blocks/services/services.scss" as *;
@use "../blocks/user/user.scss" as *;
@use "../blocks/feedback/feedback.scss" as *;

html,
body {
  width: 100%;
  height: 100%;
  color: $primaryColor;
  scroll-behavior: smooth;
  font-family: "Montserrat-Regular", sans-serif;

  &.--lock {
    overflow: clip;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.fullscreen {
  min-height: 100dvh;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    width: 100%;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
  }
}

.main {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}